# AWS Credentials
.aws/
.env
venv/
# Data
data/
*.pdf

# Colab
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

dataset/parsed_resumes.json
dataset/jd_output.json


# Generated output files
shortlisted_candidates.xlsx
final_results.json


# Dataset / temporary files
dataset/
*.log

# Chroma Vector Database
chroma_db/

# OS files
.DS_Store
Thumbs.db